In [ ]:
"""VIII. Exersises
1. Sales
Fill in the TODO cells in sales.ipynb notebook.
✓ Fix column datatypes.
✓ Drop if duplicated or null.
✓ Sanity check for value ranges and to check assumptions.
✓ Use regular expression and lambda function to parse data.
"""

import pandas as pd

In [ ]:
df = pd.read_csv('sales.csv')

In [ ]:
df.head()

,order_id,name,ordered_at,price,quantity,line_total
0,10000,ơICE CREAMơ Peanut Fudge,2018-01-01 11:30:00,3.5,3,$10.50
1,10000,ơICE CREAMơ Peanut Fudge,2018-01-01 11:30:00,3.5,1,$3.50
2,10001,ơSORBETơ Raspberry,2018-01-01 12:14:54,2.5,2,$5.00
4,10001,ơCONEơ Dipped Waffle Cone,2018-01-01 12:14:54,3.5,1,$3.50
5,10002,ơSORBETơ Lychee,2018-01-01 12:23:09,3.0,1,$3.00

In [ ]:
df['price'] = df['price'].replace('[$,]', '', regex=True).astype(float)

In [ ]:
df['ordered_at'] = pd.to_datetime(df['ordered_at'])

In [ ]:
df['line_total'] = df['line_total'].replace('[$,]', '', regex=True).astype(float)

In [ ]:
df['name'] = df['name'].str.replace('ơ', ' ')

In [ ]:
print(df.dtypes)

order_id               int64
name                  object
ordered_at    datetime64[ns]
price                float64
quantity               int64
line_total            object
dtype: object

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.head()

,order_id,name,ordered_at,price,quantity,line_total
0,10000,ICE CREAM Peanut Fudge,2018-01-01 11:30:00,3.5,3,$10.50
1,10000,ICE CREAM Peanut Fudge,2018-01-01 11:30:00,3.5,1,$3.50
2,10001,SORBET Raspberry,2018-01-01 12:14:54,2.5,2,$5.00
4,10001,CONE Dipped Waffle Cone,2018-01-01 12:14:54,3.5,1,$3.50
5,10002,SORBET Lychee,2018-01-01 12:23:09,3.0,1,$3.00

In [ ]:
print(df['price'].describe())

count    27903.000000
mean         2.461044
std          1.173305
min         -4.000000
25%          1.500000
50%          2.500000
75%          3.500000
max          4.000000
Name: price, dtype: float64

In [ ]:
print(df['quantity'].describe())

count    27903.000000
mean         2.001039
std          0.819074
min          1.000000
25%          1.000000
50%          2.000000
75%          3.000000
max          3.000000
Name: quantity, dtype: float64

In [ ]:
print(df['line_total'].describe())

count     27903
unique       39
top       $3.00
freq       2755
Name: line_total, dtype: object

In [ ]:
print(df['name'].value_counts())

ơICE CREAMơ Mint Chip             1102
ơSORBETơ Lemon                    1095
ơICE CREAMơ Candied Bacon         1090
ơICE CREAMơ Dark Chocolate        1066
ơCONEơ Cookie Cone                1062
ơCONEơ Sugar Cone                 1062
ơICE CREAMơ Rocky Road            1059
ơICE CREAMơ Double Fudge Chunk    1059
ơSORBETơ Raspberry                1055
ơCONEơ Dipped Waffle Cone         1042
ơSORBETơ Blood Orange             1041
ơICE CREAMơ Maple Brown Sugar     1036
ơBEVERAGEơ Iced Coffee            1035
ơICE CREAMơ Wildberry             1035
ơCONEơ Brownie Cone               1031
ơICE CREAMơ Dulce De Leche        1028
ơICE CREAMơ Matcha                1021
ơICE CREAMơ Vanilla Bean          1021
ơICE CREAMơ Strawberry            1015
ơBEVERAGEơ Espresso               1008
ơSORBETơ Watermelon               1006
ơSORBETơ Lychee                   1005
ơICE CREAMơ Earl Gray              997
ơICE CREAMơ Peanut Fudge           996
ơBEVERAGEơ Tea                     980
ơCONEơ Waffle Cone                 979
ơMISCơ Ice Cream Cake              977
Name: name, dtype: int64

In [ ]:
print(df['ordered_at'].min())

2018-01-01 11:30:00

In [ ]:
print(df['ordered_at'].max())

2018-07-28 18:51:57

In [ ]:
df.head()

,order_id,name,ordered_at,price,quantity,line_total
0,10000,ICE CREAM Peanut Fudge,2018-01-01 11:30:00,3.5,3,$10.50
1,10000,ICE CREAM Peanut Fudge,2018-01-01 11:30:00,3.5,1,$3.50
2,10001,SORBET Raspberry,2018-01-01 12:14:54,2.5,2,$5.00
4,10001,CONE Dipped Waffle Cone,2018-01-01 12:14:54,3.5,1,$3.50
5,10002,SORBET Lychee,2018-01-01 12:23:09,3.0,1,$3.00

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('job-market.csv')

In [ ]:
data.head(10)

,Id,Title,Company,Date,Location,Area,Classification,SubClassification,Requirement,FullDescription,LowestSalary,HighestSalary,JobType
0,37404348.0,Casual Stock Replenisher,Aldi Stores,2018-10-07T00:00:00.000Z,Sydney,North West & Hills District,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,0.0,30.0,NaN
1,37404337.0,Casual Stock Replenisher,Aldi Stores,2018-10-07T00:00:00.000Z,Richmond & Hawkesbury,NaN,Retail & Consumer Products,Retail Assistants,Our Casual Stock Replenishers pride themselves...,NaN,0.0,30.0,NaN
2,37404356.0,RETAIL SALES SUPERSTARS and STYLISTS Wanted - ...,LB Creative Pty Ltd,2018-10-07T00:00:00.000Z,Brisbane,CBD & Inner Suburbs,Retail & Consumer Products,Retail Assistants,BRAND NEW FLAGSHIP STORE OPENING - SUNSHINE PLAZA,NaN,0.0,30.0,NaN
3,37404330.0,Team member - Belrose,Anaconda Group Pty Ltd,2018-10-07T00:00:00.000Z,Gosford & Central Coast,NaN,Retail & Consumer Products,Retail Assistants,Bring it on - do you love the great outdoors a...,NaN,0.0,30.0,NaN
4,37404308.0,"Business Banking Contact Centre Specialist, Ni...",Commonwealth Bank - Business & Private Banking,2018-10-07T00:00:00.000Z,Sydney,Ryde & Macquarie Park,Call Centre & Customer Service,Sales - Inbound,"We are seeking highly articulate, enthusiastic...",NaN,0.0,30.0,NaN
5,37404307.0,"Business Banking Contact Centre Specialist, Ni...",Commonwealth Bank - Business & Private Banking,2018-10-07T00:00:00.000Z,Sydney,Ryde & Macquarie Park,Call Centre & Customer Service,Customer Service - Call Centre,"We are seeking highly articulate, enthusiastic...",NaN,0.0,30.0,NaN
6,37404355.0,Casual Café All-rounder in Semaphore,Jora Local,2018-10-07T00:00:00.000Z,Adelaide,NaN,Hospitality & Tourism,Waiting Staff,A cafe/restaurant in Semaphore is seeking a ca...,NaN,0.0,30.0,NaN
7,37404350.0,Casual Café All-rounder in Woolloongabba,Jora Local,2018-10-07T00:00:00.000Z,Brisbane,CBD & Inner Suburbs,Hospitality & Tourism,Waiting Staff,A cafe in Woolloongabba is seeking a casual Ca...,NaN,0.0,30.0,NaN
8,37404301.0,Telemarketer,Reventon Investments,2018-10-07T00:00:00.000Z,Melbourne,CBD & Inner Suburbs,Call Centre & Customer Service,Sales - Outbound,Market leading investment & financial services...,NaN,0.0,30.0,NaN
9,37404286.0,Casual Dish Hand in Brighton,Jora Local,2018-10-07T00:00:00.000Z,Melbourne,Bayside & South Eastern Suburbs,Hospitality & Tourism,Kitchen & Sandwich Hands,A restaurant in Brighton is seeking a casual D...,NaN,0.0,30.0,NaN

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40789 entries, 0 to 40788
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id                 10099 non-null  float64
 1   Title              10099 non-null  object
 2   Company            9483 non-null   object
 3   Date               10099 non-null  object
 4   Location           10099 non-null  object
 5   Area               6392 non-null   object
 6   Classification     10099 non-null  object
 7   SubClassification  10099 non-null  object
 8   Requirement        10099 non-null  object
 9   FullDescription    9843 non-null   object
 10  LowestSalary       10099 non-null  float64
 11  HighestSalary      10099 non-null  float64
 12  JobType            9852 non-null   object
dtypes: float64(3), object(10)
memory usage: 4.0+ MB

In [ ]:
data.dropna(inplace=True)

In [ ]:
data.drop_duplicates(inplace=True)

In [ ]:
import re

In [ ]:
data['Id'] = data['Id'].astype(int)

In [ ]:
data['LowestSalary'] = data['LowestSalary'].astype(int)

In [ ]:
data['HighestSalary'] = data['HighestSalary'].astype(int)

In [ ]:
data['LowestSalary'] = pd.to_numeric(data['LowestSalary'], errors='coerce')

In [ ]:
data['HighestSalary'] = pd.to_numeric(data['HighestSalary'], errors='coerce')

In [ ]:
data['Date'] = pd.to_datetime(data['Date'], format='%Y-%m-%dT%H:%M:%S.%fZ')

In [ ]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5898 entries, 121 to 10098
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id                 5898 non-null   int64
 1   Title              5898 non-null   object
 2   Company            5898 non-null   object
 3   Date               5898 non-null   object
 4   Location           5898 non-null   object
 5   Area               5898 non-null   object
 6   Classification     5898 non-null   object
 7   SubClassification  5898 non-null   object
 8   Requirement        5898 non-null   object
 9   FullDescription    5898 non-null   object
 10  LowestSalary       5898 non-null   float64
 11  HighestSalary      5898 non-null   float64
 12  JobType            5898 non-null   object
dtypes: float64(2), int64(1), object(10)
memory usage: 645.1+ KB
None

In [ ]:
print(data.describe())

                 Id  LowestSalary  HighestSalary
count  5.898000e+03   5898.000000    5898.000000
mean   3.739050e+07     24.560868      42.390641
std    2.780707e+04     20.621646      11.656813
min    3.679829e+07      0.000000      30.000000
25%    3.738720e+07      0.000000      30.000000
50%    3.739687e+07     30.000000      40.000000
75%    3.740149e+07     40.000000      50.000000
max    3.740440e+07     50.000000      60.000000

In [ ]:
print(data.isnull().sum())

Id                   0
Title                0
Company              0
Date                 0
Location             0
Area                 0
Classification       0
SubClassification    0
Requirement          0
FullDescription      0
LowestSalary         0
HighestSalary        0
JobType              0
dtype: int64

In [ ]:
data.head(5)

,Id,Title,Company,Date,Location,Area,Classification,SubClassification,Requirement,FullDescription,LowestSalary,HighestSalary,JobType
121,37404238,Fabricator/Installer,WORKPLACE ACCESS & SAFETY,2018-10-07T00:00:00.000Z,Melbourne,Bayside & South Eastern Suburbs,Trades & Services,Welders & Boilermakers,Trade qualified person with skills in welding ...,<p>&nbsp;</p>\n <p><strong><em>*&nbsp; ...,0.0,30.0,Full Time
122,37404195,Boilermaker,RPM Contracting QLD P/l,2018-10-07T00:00:00.000Z,Brisbane,Southern Suburbs & Logan,Trades & Services,Welders & Boilermakers,Perm rate $30. Structural steel fab & weld out...,<p>One of Australia's best engineering worksho...,0.0,30.0,Full Time
125,37404288,Casual Childcare Positions | Bondi Junction,anzuk Education,2018-10-07T00:00:00.000Z,Sydney,"CBD, Inner West & Eastern Suburbs",Education & Training,Teaching - Early Childhood,"anzuk education are searching for reliable, en...","<p style=""text-align:center;""><strong>What is ...",0.0,30.0,Contract/Temp
126,37404267,Technician,Zoom Recruitment & Training,2018-10-07T00:00:00.000Z,Sydney,South West & M5 Corridor,Engineering,Mechanical Engineering,"This Australian Icon, connects the people of t...","<p>This Australian Icon, connects the people o...",0.0,30.0,Full Time
127,37404230,Systems Engineer,Humanised Group,2018-10-07T00:00:00.000Z,Brisbane,CBD & Inner Suburbs,Information & Communication Technology,Networks & Systems Administration,Systems Engineer to work on BAU/Projects for a...,<strong>The Company</strong><br> <br> This org...,0.0,30.0,Full Time